<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
  <title>오션투유리조트</title>

  <meta property="og:locale" content="ko_KR">
  <meta property="og:type" content="website">
  <meta property="og:title" content="오션투유리조트">
  <meta property="og:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="오션투유리조트">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:description" content="천혜의 절경이 펼쳐진 강원도 설악, 속초, 고성에 위치한 오션투유 리조트">
  <meta name="twitter:title" content="오션투유리조트">
  <!--<link rel="canonical" href="도메인">-->

  <link rel="stylesheet" href="http://static.ocean2you.co.kr/fonts/nanumbarungothic/nanumbarungothic.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">


  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/reset_custom.css">
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/jquery.mb.YTPlayer.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
  <!--<link rel="stylesheet" href="../../static/css/renew/jquery.mb.YTPlayer.css">-->


  <!-- <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common.css">
  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/@@page/init.css"> -->
  <!-- local-CSS -->
  <link rel="stylesheet" href="../../static/css/renew/common.css">
  <link rel="stylesheet" href="../../static/css/renew/@@page/init.css">



  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
  <script src="http://static.ocean2you.co.kr/js/renew/jquery.easing.min.js"></script>

  <script src="http://static.ocean2you.co.kr/js/renew/common_ocean.js"></script>
  <script src="http://static.ocean2you.co.kr/js/renew/@@page/init.js"></script>
  <!--<script src="../../static/js/common_ocean.js"></script>-->
  <!-- <script src="../../static/js/renew/@@page/init.js"></script> -->


  <link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/totalweb.css">
  <!-- <link rel="stylesheet" href="/dist/static/css/renew/totalweb.css"> -->
  <script src="http://static.ocean2you.co.kr/js/renew/totalweb.js"></script>










  <!--[if gte IE 9]><!-->
  <!-- <script src="http://static.ocean2you.co.kr/js/renew/jquery.mb.YTPlayer.min.js"></script>
    <script src="http://static.ocean2you.co.kr/js/renew/index_player.js"></script> -->
  <!--<script src="../../static/js/renew/jquery.mb.YTPlayer.min_custom.js"></script>-->
  <!--<script src="../../static/js/renew/index_player.js"></script>-->
  <!--<![endif]-->

  <!--<link rel="stylesheet" href="../src/css/common_ie8.css">-->

  <!--[if lt IE 10]>
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew/common_ie8.css">
		<link rel="stylesheet" href="http://static.ocean2you.co.kr/css/renew//@@page/init_ie8.css">
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->