<!--171023 faq추가-->
<!-- 180711 이벤트 당첨안내 FAQ 주석처리 -->
<!--<div class="layer-pop-bg" id="faqWrap-back">
    <div class="faqWrap" id="faqWrap">
        <h2>고코투어 이벤트 당첨안내 <span class="s1">FAQ</span><a href="javascript:;" class="i-x"><img src="http://img.ocean2you.co.kr/renew/i_x.png" alt="닫기"></a></h2>
        <ul class="ul1">
            <li>
                <div class="d1"><span class="s-tit">고코투어에서 이벤트당첨 문자를 받았는데 실제 진행하는 이벤트가 맞나요?</span> <span class="s-dArr"></span></div>
                <div class="d2">
                    네. 맞습니다.<br>
                    저희 오션투유리조트 호텔앤콘도 설악비치 에서는 고코투어와 함께 '무료 숙박권'
                    이벤트를 진행하고 있습니다. 해당 문자를 수신하신 고객님들은 고코투어에서
                    안내된 대로 진행해주시면 저희 오션투유리조트 호텔앤콘도 설악비치를 이용
                    하실 수 있습니다.
                </div>
            </li>
            <li>
                <div class="d1"><span class="s-tit">무료숙박권인데 결제창이 뜨는데 결제를 해야하나요?</span> <span class="s-dArr"></span></div>
                <div class="d2">
                    경품지급에 따른 제세공과금 및 봉사료가 포함된 금액을 결제 하셔야 이용하실수 있습니다.
                </div>
            </li>
            <li>
                <div class="d1"><span class="s-tit">무료숙박권 이벤트는 왜 하는건가요?</span> <span class="s-dArr"></span></div>
                <div class="d2">
                    오션투유리조트 호텔앤콘도 설악비치는 수려한 삼포해수욕장을 끼고 있으며 27년의 전통을 자랑하는 리조트입니다.<br>
                    이에 보다 많은 분들이 찾으실수 있도록 저희 오션투유리조트 호텔앤콘도 설악비치의 홍보를 위해 고코투어와 제휴를 맺어 고코투어 회원들에게 저렴한 요금으로 이용하실수 있도록 이벤트를 진행중입니다.
                </div>
            </li>
            <li>
                <div class="d1"><span class="s-tit">주말에도 예약이 가능한가요?</span> <span class="s-dArr"></span></div>
                <div class="d2">무료숙박권 사용기한은 2018년 1월 31일까지이며, 해당기간내 주말 사용이 가능합니다만, 이벤트 객실은 한정되어 주말이용을 원하신다면 되도록 미리 예약을 해주셔야함을 양해 부탁드립니다.</div>
            </li>
            <li>
                <div class="d1"><span class="s-tit">객실은 어디로 배정이 되는건가요?</span> <span class="s-dArr"></span></div>
                <div class="d2">저희 오션투유리조트 호텔앤콘도 설악비치는 현재 리노베이션 진행중이며, 우선적으로 리노베이션콘도-오션뷰 객실부터 배정하고 있으나, 소진시 마운티뷰로 제공하고 있습니다.</div>
            </li>
            <li>
                <div class="d1"><span class="s-tit">인원은 몇 명까지 투숙가능한가요?</span> <span class="s-dArr"></span></div>
                <div class="d2">정원은 4명이며 최대 7명까지 투숙이 가능합니다만, 추가인원 발생시 인당 2만원(엑스트라베드포함)의 추가비용을 현장에서 결제해주시면 됩니다.</div>
            </li>
            <li>
                <div class="d1"><span class="s-tit">오션투유리조트 호텔앤콘도 설악비치는 객실이 몇 개인가요?</span> <span class="s-dArr"></span></div>
                <div class="d2">저희 오션투유리조트 호텔앤콘도 설악비치는 27년의 역사를 자랑하는 250객실을 보유한 대형 리조트 입니다. 약 160개방이 현재 리노베이션 되어 있으며 90개의 방은 계속해서 리노베이션 중입니다. 일부 수선 중인 객실 컨디션을 보완을 위해 50여명에 이르는 룸메이드가 청결에 특히 신경 쓰고 있습니다. 빠른시간내에 모든 객실을 깔끔하게 수선해 불편함이 없도록 최선을 다하고 있습니다.</div>
            </li>
            <li>
                <div class="d1"><span class="s-tit">조식뷔페도 하나요?</span> <span class="s-dArr"></span></div>
                <div class="d2">네 맞습니다. 저희 오션투유리조트 호텔앤콘도 설악비치는 주말에 조식뷔페 운영중에 있으며, 객실예약후 투숙일전까지 성인 9,900원 소인 7,900원(36개월이상) 에 이용 가능합니다. <br>(현장결제시 성인12,000원 소인 9,000원(36개월이상)) <br>평일에는 퀄리티 높은 한정식메뉴를 저렴한 가격으로 이용하실수 있습니다. <br>(광어미역국 12,000원 / 우거지갈비탕 8,000원 / 황태해장국 8,000원)</div>
            </li>
            <li>
                <div class="d1"><span class="s-tit">부대시설은 어떤게 있나요?</span> <span class="s-dArr"></span></div>
                <div class="d2">1층 한식당 다연에서는 조식뷔페 외에도 수준높은 한정식메뉴를 저렴한 가격으로 이용하실수 있으며 (광어미역국 12,000원 / 우거지갈비탕 8,000원 / 황태해장국 8,000원), 커피셥 라바짜속초설악비치점, 편의점, 노래방, 바베큐장등을 겸비하고 있습니다. </div>
            </li>
            <li>
                <div class="d1"><span class="s-tit">궁금한건 어디로 전화하면 되나요?</span> <span class="s-dArr"></span></div>
                <div class="d2">오션투유 리조트 예약실 02-6255-3155 로 문의주시면 됩니다. 현재 무료숙박권 이벤트로 인해 전화통화가 폭주상태입니다.<br>
                    이점 널리 양해 부탁 드리며, 궁금하신 사항은 가급적 1대1문의를 남겨 주시면 평균 1000타가 넘는 전담 직원이 빠르게 답변을 해드리고 있습니다.</div>
            </li>
        </ul>
    </div>
</div>-->

<header class="header type-2" id="gnb-header">
    <div class="container">
        <a href="../main/" class="logo-box">
            <img class="logo" src="http://img.ocean2you.co.kr/renew/logo.png" alt="오션투유 리조트">
            <p class="logo-txt">
                오션투유리조트
                <span>속초설악비치 호텔앤콘도</span>
            </p>
            <!--
            <span class="mg-l"></span>
            <img class="gcLogo" src="http://img.ocean2you.co.kr/renew/oc2_gcLogo.png" alt="고코투어">
            -->
        </a>

        <button class="mNav-btn" id="mNav-btn" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav class="nav-bar">
            <div class="d1">
                <a class="faq-a" id="faq-a" href="#">고코투어 이벤트 당첨안내</a>
                <a class="mFaq-a" id="mFaq-a" href="#"><span><img src="http://img.ocean2you.co.kr/renew/m_icon.png">이벤트 안내</span></a>
            </div>
            <ul class="nav clr">
                <li class="fst"><a href="../intro/">오션투유소개</a></li>
                <li><a href="../facil/">객실안내</a></li>
                <li><a href="../dining">다이닝</a></li>
                <li><a href="../amenities/">연회&amp;부대시설</a></li>
                <li><a href="../event/">이벤트/축제</a></li>
                <li><a href="../tourist">관광지</a></li>
                <!-- <li><a href="../?go_scroll=wayto">오시는길</a></li> -->
                <li><a href="../intro/?go-oc2-fun">고객리뷰</a></li>
                <!-- <li><a href="http://ocean2you.co.kr/?go_scroll=oc2-fun">고객리뷰</a></li> -->
                <li><a href="../group/">단체문의</a></li>
                <!-- <li><a href="../rent/">장기/단기숙박</a></li> -->
                <li class="lst" onclick="location.href='http://ocean2you.co.kr/view/';" style="cursor:pointer"><a href="javascript:;">예약/예약확인</a></li>
            </ul>
        </nav>
        <div class="bk-menu ocean">
            <a href="/view" class="btn-bk">예약하기</a>
            <ul class="bk-list" style="display: none; height: 303px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                <li class="item item-1 fst"><a href="../view">객실예약</a></li>
                <li class="item item-2"><a href="../history/?dd=Sws5TzdVKg==">예약확인</a></li>
                <li class="item item-3"><a href="../group">단체예약</a></li>
                <li class="item item-4"><a href="../rent">장기/단기예약</a></li>
            </ul>
        </div>
    </div>
    <nav class="mNav-box" id="mNav-box">
        <h2 class="logo-m"><a href="#"><img src="http://img.ocean2you.co.kr/renew/logo_m.png" alt="오션투유리조트"></a></h2>
        <!-- 190226 예약하기 메뉴 추가 -->
        <ul class="bk-menu-m ocean clr">
            <li>
                <a href="../view/">객실예약</a>
            </li>
            <li>
                <a href="../history">예약확인</a>
            </li>
        </ul>
        <ul class="mNav">
            <li class="fst"><a href="../intro/">오션투유소개</a></li>
            <li><a href="../facil/">객실안내</a></li>
            <li><a href="../dining">다이닝</a></li>
            <li><a href="../amenities/">연회&amp;부대시설</a></li>
            <li><a href="../event/">이벤트/축제</a></li>
            <li><a href="../tourist">주변관광지</a></li>
            <!-- <li><a href="../?go_scroll=wayto">오시는길</a></li> -->
            <li><a href="../intro/?go-oc2-fun">고객리뷰</a></li>
            <li><a href="../group/">단체행사문의</a></li>
            <li><a href="../rent/">장기/단기숙박</a></li>
            <!--<li class="lst" onclick="location.href='http://ocean2you.co.kr/view/';" style="cursor:pointer"><a href="javascript:;">예약/예약확인</a></li>-->
        </ul>
    </nav>
</header>
<!--.header -->