<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="viewport" content="width=720, user-scalable=no , target-densitydpi=device-dpi" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="UTF-8">
    <title>:: 이보다 더 선명할 수 없다! FULL HD TV ENTV</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://static.entv.co.kr/css/layout_m.css" />
    <link rel="stylesheet" href="http://static.entv.co.kr/css/reset_m.css" />

    <!-- <link rel="stylesheet" href="http://design.ebiznetworks.co.kr/sun/entv/static/css/m/layout_m.css"> -->

    <!-- <link rel="stylesheet" href="../../../static/css/m/layout_m.css" /> -->

    <link rel="shortcut icon" href="http://img.entv.co.kr/entv_icon128x128.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="http://img.entv.co.kr/entv_icon57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://img.entv.co.kr/entv_icon72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://img.entv.co.kr/entv_icon114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="http://img.entv.co.kr/entv_icon144x144.png" />

    <script src="http://m.entv.co.kr/js/jquery.js" type="text/javascript"></script>
    <script src="http://m.entv.co.kr/js/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://www.entv.co.kr/js/jquery-1.10.2.min.js"></script>
    <script src="http://m.entv.co.kr/js/slides.min.jquery.js" type="text/javascript"></script>
    <script src="http://m.entv.co.kr/js/common.js?ver=1620636165" type="text/javascript"></script>
    <script> document.domain = "entv.co.kr";</script>
    <script src="http://static.entv.co.kr/js/bookmark.js?ver=1620636165"></script>

<body>
    <div id="wrap">
        <div id="top">
            <a href="#">
                <img src="http://img.entv.co.kr/mobile/btn_top.png" alt="top" />
            </a>
        </div>

        <header id="header">
            <p class="logo">
                <a href="http://m.entv.co.kr"><img src="http://img.entv.co.kr/mobile/logo.png" alt="로고"></a>
            </p>
            <p class="top_menu">
                <a href="https://smartstore.naver.com/entv" target="_blank">
                    <img src="http://img.entv.co.kr/gnb_shop_m.png" alt="shop">
                </a>
            </p>
        </header>

        <!-- GNB-->
        <div id="gnb_wrap">
            <nav class="gnb">
                <ul>
                    <li style="border-left:none"><a href="/brand.php"><span>브랜드소개</span></a></li>
                    <li><a href="news.php"><span>언론기사</span></a></li>
                    <li><a href="cs_center_list.php"><span>고객센터</span></a></li>
                    <li><a href="order_srh.php"><span>주문/배송 조회</span></a></li>
                </ul>
            </nav>
        </div>
        <!-- //GNB -->

        <div id="sub_tit">자주하는질문</div>
        <div id="board">
            <input type="hidden" name="faqnum" value="1">
            <div class="faq">
                <select name="faqa" style="width: 680px; font-weight: 600; padding-left:20px; font-size:25px;"
                    onchange="javascript:mobile.GoSearchFaq(this.value);">
                    <option value="all">전체</option>
                    <option value="1">기능</option>
                    <option value="2">화질/소리 관련</option>
                    <option value="4">배송/설치</option>
                    <option value="5">기타</option>
                    <option value="6">리모컨</option>
                </select>
            </div>

            <!-- 키워드 검색추가 -->
            <div class="cs-keyword">
                <form action="">
                    <label for="keyword-text">키워드 검색</label>
                    <input type="text" class="keyword-text" placeholder="궁금하신 내용을 입력해주세요.">
                    <button class="btn-search">
                        <img src="http://img.entv.co.kr/btn-search.jpg" alt="키워드 검색찾기">
                    </button>
                    <p class="example">
                        <span>입력 예) 화면, 소리, 리모콘</span>
                    </p>
                </form>
            </div>
            <!-- //키워드 검색추가 -->

            <ul class="bdlist"
                style="border-top-color: rgb(235, 235, 235); border-top-width: 2px; border-top-style: solid;">
                <li class="subject" id="faql0"><a href="javascript:mobile.GoFaqView('0');" class="tit3"><span
                            class="gubun">기능</span>해상도 차이점 ( HD, FHD, UHD ) </a></li>
                <li class="contents" id="faq0" style="display: none;">
                    <p>
                        <strong><span style="font-size:14px;"><span
                                    style="color:#ff0000;">해상도란?</span></span></strong><br>
                        &nbsp;
                    </p>
                    <p>&gt; 디스플레이 화면에는 무수히 많은 점들로 이미지가 출력되고 영상이 출력됩니다.&nbsp;<br>
                        이 점들을 다른말로 픽셀이라고 하며 <strong><span style="color: rgb(58, 50, 195);">픽셀의 갯수</span></strong>를 해상도라고
                        합니다.</p>
                    <p>
                        픽셀의 갯수가 많으면 많을수록 정교하고 세밀한 이미지 또는 영상의 표현이 가능합니다.&nbsp;</p>
                    <p>
                        &nbsp;</p>
                    <p>
                        <span style="color: rgb(0, 0, 0);">※ 대표 해상도</span>
                    </p>
                    <p><span style="background-color: rgb(255, 102, 0); color: rgb(255, 255, 255);">HD</span> &gt;
                        1280*720&nbsp;&nbsp;</p>
                    <p>
                        <span style="background-color: rgb(109, 48, 207); color: rgb(255, 255, 255);">FHD</span> &gt;
                        1920*1080&nbsp;
                    </p>
                    <p>
                        <span style="background-color: rgb(0, 153, 153); color: rgb(255, 255, 255);">UHD </span>&gt;
                        3840*2160&nbsp;<br>
                        <br>
                        우리가 흔히아는 HD , FHD , UHD 경우의 수치는 가로 픽셀갯수 X 세로 픽셀갯수라고 보시면 됩니다.&nbsp;
                    </p>
                    <p>
                        예시) Full HD( FHD) 가로 1920 * 세로 1080 의 픽셀로 이루어져 1920 * 1080 = 2,073,600개의 픽셀갯수&nbsp;<br>
                        <br>
                        <br>
                        위 설명 드린 것과 같이 해상도가 높을수록 픽셀의 사이즈는 작아지고 픽셀의 갯수가 많아지게되며
                    </p>
                    <p>픽셀 사이즈가 작아질수록 더 선명하게 보입니다.<br>
                        하지만, TV 해상도가 UHD 해상도라고 하더라도 해상도 낮은 영상들을 UHD 해상도로 바꾸어 보실수 있는건 아니며,</p>
                    <p>
                        TV 에 공급해주는 입력신호가 UHD 급인경우 UHD 해상도로 화질을 재생시킬 수 있습니다.</p>
                    <p>
                        따라서 TV 를 PC 혹은 노트북에 연결하여 사용하시는 경우 해상도가 높을수록 사용하기 편하며 고화질의 영상을 감상하실 수 있습니다.&nbsp;</p>
                    <p>&nbsp;</p>
                </li>
            </ul>
            <ul class="bdlist"
                style="border-top-color: rgb(235, 235, 235); border-top-width: 2px; border-top-style: solid;">
                <li class="subject" id="faql1"><a href="javascript:mobile.GoFaqView('1');" class="tit3"><span
                            class="gubun">기능</span>PC 모니터, 노트북 연결가능 여부 </a></li>
                <li class="contents" id="faq1" style="display: none;">
                    <p>
                        &nbsp;</p>
                    <p>
                        저희 ENTV 제품은 모니터 사용 및 노트북 연결이 가능하며,</p>
                    <p>
                        ENTV 제품 뒷면에는 HDMI 단자만 있으므로 HDMI 단자로만 연결이 가능한 점 참고해주시길 바랍니다.</p>
                    <p>
                        제품 구매 전 연결하실 컴퓨터 본체 혹은 노트북기기에 HDMI단자가 있는 지 확인 후 구매부탁드립니다.&nbsp;</p>
                    <p>
                        &nbsp;</p>
                    <p>
                        - HDMI케이블 연결방법 :&nbsp;</p>
                    <p>
                        HDMI케이블로 PC와 TV 연결 후,</p>
                    <p>
                        ENTV 리모컨으로 입력 &gt; 연결 돼있는 외부입력 선택(ex. HDMI 1, HDMI2 등) &gt; OK&nbsp;</p>
                    <p>
                        (HDMI 1번 단자에 케이블 연결한 경우 입력버튼 클릭 후 HDMI 1로 외부입력 설정)</p>
                    <p>
                        &nbsp;</p>
                    <p>
                        <span style="color: rgb(255, 0, 0);">단, 32인치(<span
                                style="color: rgb(0, 0, 0);">DIEN32H-MT</span>) TV 모델의 경우에는 HD해상도로 PC와의 연결을
                            추천해드리지않습니다.</span>
                    </p>
                    <p>&nbsp;</p>
                </li>
            </ul>
            <ul class="bdlist"
                style="border-top-color: rgb(235, 235, 235); border-top-width: 2px; border-top-style: solid;">
                <li class="subject" id="faql2"><a href="javascript:mobile.GoFaqView('2');" class="tit3"><span
                            class="gubun">기타</span>A/S는 어디서 받습니까?</a></li>
                <li class="contents" id="faq2" style="display: none;">
                    <p>
                        저희 ENTV 는 출장A/S를 진행하고있습니다.&nbsp;<br />
                        전국 150개 A/S 서비스 인프라를 통한 빠른서비스로 신속,정확하게 대응하고있으며&nbsp;<br />
                        ENTV 에서 판매되고있는 모든 제품은 1년간 무상 A/S 를 지원합니다.&nbsp;<br />
                        (고객부주의로 인한 제품파손 및 제품손상인 경우 1년이내여도 유상으로 진행)&nbsp;</p>
                    <p>
                        * 도서산간지역은 출장 A/S 가 불가능하며, A/S 를 원하시는경우 제품박스에 포장하신 후 본사 물류창고로 직접 보내주셔야 가능하십니다.</p>
                    <p>
                        &nbsp;</p>
                    <p>
                        A/S 관련 문의사항은 ENTV 고객지원센터 1666-7873으로 문의 주시면 안내해 드리겠습니다.</p>
                    <p>
                        (운영시간 평일 9:30~17:30 , 점심시간 12:30-13:30 제외)</p>
                    <p>
                        &nbsp;</p>
                    <p>
                        &nbsp;</p>
                </li>
            </ul>
            <ul class="bdlist"
                style="border-top-color: rgb(235, 235, 235); border-top-width: 2px; border-top-style: solid;">
                <li class="subject" id="faql3"><a href="javascript:mobile.GoFaqView('3');" class="tit3"><span
                            class="gubun">기능</span>화면이 늦게 나와요 / 채널 전환 속도가 느려요</a></li>
                <li class="contents" id="faq3" style="display: none;">
                    <p><b>전원을 켠 후 화면이 늦게 나옵니다.</b></p>
                    <p>&nbsp;</p>
                    <p>전원을 켤 때 발생할 수 있는 화면잡음을 보이지 않게 하기 위해서&nbsp;</p>
                    <p>잠시동안 영상소거처리를 하기 때문에 발생하는 현상으로 제품 불량은 아닌 점 참고 부탁드립니다.</p>
                    <p>&nbsp;</p>
                    <p><b>채널전환속도가 느립니다.&nbsp;</b></p>
                    <p>&nbsp;</p>
                    <p>채널전환속도는 지역 케이블/ 유선사 등의 영향에 따라 시간 차이가 있습니다.</p>
                    <p>지역에 따라 신호세기가 다른 점 참고부탁드립니다.</p>
                    <p>&nbsp;</p>
                    <p>-지역케이블 사용하고 계시다면?</p>
                    <p>
                        셋탑박스 없이 공청안테나(RF/동축케이블) 등을 이용한 지역케이블 방송 시청 시에는&nbsp;</p>
                    <p>채널전환속도가 아날로그TV와는 달리 1~3초 정도 소요됩니다.</p>
                    <p>
                        이는 제품의 불량이 아닌 디지털TV의 특성이며, 만약 채널전환 속도가 매우 불편하신 경우에는 셋탑박스 사용을 권장 드리고 있습니다.&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>더 문의하실 점이 있으신 경우 ENTV&nbsp;고객센터 1666-7873로 연락주시면 안내드리겠습니다.&nbsp;</p>
                    <p>운영시간 이후 / 점심시간 대에는 고객센터 연결이 어려운 점 양해부탁드립니다.</p>
                    <p>(운영시간 평일 9:30~17:30 , 점심시간 12:30-13:30 )</p>
                </li>
            </ul>
            <ul class="bdlist"
                style="border-top-color: rgb(235, 235, 235); border-top-width: 2px; border-top-style: solid;">
                <li class="subject" id="faql4"><a href="javascript:mobile.GoFaqView('4');" class="tit3"><span
                            class="gubun">기능</span>PC를 HDMI 케이블로 연결 했는데 윈도우 화면이 맞지 않는 경우</a></li>
                <li class="contents" id="faq4" style="display: none;">
                    <p>&nbsp;</p>
                    <p><b>- TV의 해상도가 <span style="color: rgb(58, 50, 195);">HD</span>인 경우&nbsp;</b></p>
                    <p>TV와 연결한 PC의 해상도를 1366*768로 변경해주세요&nbsp;</p>
                    <p>&nbsp;</p>
                    <p><b>-TV의 해상도가 <span style="color: rgb(58, 50, 195);">FHD</span>인경우</b></p>
                    <p>TV와 연결한 PC의 해상도를 1920*1080으로 변경해주세요</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>위와 같이 설정을 한 경우에도 화면 크기가 맞지 않는 경우,&nbsp;</p>
                    <p>ENTV리모컨 → 메뉴 → 화면 크기에서 '자동' 또는 'PC모드'로 변경 부탁드립니다.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&lt;참고사항&gt;</p>
                    <p>
                        ※ 디지털(HDMI) 설정방법: 당사 TV는 HDMI 연결시 자동으로 스캔 조정을 합니다.</p>
                    <p>
                        &nbsp;</p>
                    <p>
                        ※ 아날로그(RGB) 설정방법: RGB로 연결시에는 리모컨 → 메뉴&nbsp; → 영상 → 화면 크기 → 알맞게 조정</p>
                    <p>&nbsp;</p>
                    <p>(TV 모델명에 따라 설정 방법은 약간의 차이가 있을 수 있습니다.)&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>이외에 문의하실 점이 있으신 경우 ENTV&nbsp;고객센터 1666-7873로 연락주시면 안내드리겠습니다.&nbsp;</p>
                    <p>운영시간 이후 / 점심시간 대에는 고객센터 연결이 어려운 점 양해부탁드립니다.</p>
                    <p>(운영시간 평일 9:30~17:30 , 점심시간 12:30-13:30 )</p>
                </li>
            </ul>
            <ul class="bdlist"
                style="border-top-color: rgb(235, 235, 235); border-top-width: 2px; border-top-style: solid;">
                <li class="subject" id="faql5"><a href="javascript:mobile.GoFaqView('5');" class="tit3"><span
                            class="gubun">기타</span>USB로 재생가능한 동영상 종류가 어떻게 되나요?</a></li>
                <li class="contents" id="faq5" style="display: none;">
                    <p>
                        ※ USB 지원가능 파일 및 코덱&nbsp;<br>
                        <br><span style="background-color: rgb(255, 102, 0); color: rgb(255, 255, 255);">#1. 동영상
                            파일</span> : MP4, MKV,&nbsp; MPG, MPEG, DAT, VOB, ASF, FLV, SWF&nbsp;
                    </p>
                    <p><span style="background-color: rgb(109, 48, 207); color: rgb(255, 255, 255);">#2. 동영상 코덱</span> :
                        MPEG1, MPEG2, MPEG4, H263,H264, AVS, MJPG, SORESNSON&nbsp;</p>
                    <p><span style="background-color: rgb(255, 167, 0); color: rgb(255, 255, 255);">#3. 음악파일</span> :
                        MP4, AC3, EAC3, AAC, HEAAC, DTS, DMP, LPCM, IMA-ADPCM, MS-ADPCM, G711 A/MU-SAW, LBR, FLAC&nbsp;
                    </p>
                    <p><span style="background-color: rgb(0, 153, 153); color: rgb(255, 255, 255);">#4. 사진파일</span> :
                        JPG, JPEG,PNG,DMG&nbsp;<br>
                        <br>
                        <span style="color:#ff0000;">* USB 3.0 / 대용량 외장메모리는 지원하지 않으니 참고해주시길 바랍니다.&nbsp;</span>
                    </p>
                    <p>&nbsp;</p>
                    <p>
                        &nbsp;</p>
                </li>
            </ul>
            <ul class="bdlist"
                style="border-top-color: rgb(235, 235, 235); border-top-width: 2px; border-top-style: solid;">
                <li class="subject" id="faql6"><a href="javascript:mobile.GoFaqView('6');" class="tit3"><span
                            class="gubun">기타</span>무상A/S기간은 어떻게 되나요?</a></li>
                <li class="contents" id="faq6" style="display: none;">
                    <p>
                        &nbsp;</p>
                    <p>
                        무상 A/S 기간은 구매시점으로 1년이며, 1년 이내 제품불량이 확인되는경우 무상으로 처리됩니다.</p>
                    <p>
                        단, 사용상의 부주의로 제품 손상 및 고객착오로 의한 제품 고장의 경우는 1년 이내 이시더라도 유상으로 진행됩니다.&nbsp;</p>
                    <p>
                        &nbsp;</p>
                    <p>
                        &nbsp;</p>
                </li>
            </ul>
            <ul class="bdlist"
                style="border-top-color: rgb(235, 235, 235); border-top-width: 2px; border-top-style: solid;">
                <li class="subject" id="faql7"><a href="javascript:mobile.GoFaqView('7');" class="tit3"><span
                            class="gubun">화질/소...</span>소리가 너무 작은 것 같은데 불량인가요?</a></li>
                <li class="contents" id="faq7" style="display: none;">
                    <p>
                        &nbsp;</p>
                    <p>
                        LED TV 특성상 TV의 두께가 얇아지면서 스피커를 넣을 수 있는 공간도 작아져 예전 브라운관,&nbsp; LCD TV, PDP TV처럼 큰 스피커를 넣을 수 없는 단점을
                        가지고있습니다.<br>
                        이는 대기업제품 및 타 업체 제품에서도 동일하게 호소 하는 현상입니다<br>
                        &nbsp;</p>
                    <p>
                        <span style="color:#ff0000;">메뉴 - 음성모드 -사용자값 에서 저음과 고음을 높게 해주시면 다소 울려서 들리던 소음은 줄어듭니다.&nbsp;<br>
                            (셋탑박스 사용 시에는 TV 자체의 볼륨과 셋탑박스 음량 모두 조정해보시길 바랍니다.)</span>
                    </p>
                    <p>
                        &nbsp;</p>
                    <p>
                        또 다른 이유로는 &nbsp;공청 안테나/유선 시청시에는 장면마다 음량이 일정하지 않습니다.</p>
                    <p>
                        실내에서 촬영한 영상과 실외에서 촬영한 영상은 음질에 차이가 있을수 있으니 이러한 점들도 유의해주시길 바랍니다.</p>
                    <p>
                        당사 제품(TV)은 외부 스피커와 연결할 수 있는 옵티컬 단자가 있어<br>
                        소리에 불편을 크게 느끼시는 경우에는 외부 스피커 (사운드바) 연결을 추천해 드립니다</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    <p>이외에 문의하실 점이 있으신 경우 ENTV&nbsp;고객센터 1666-7873로 연락주시면 안내드리겠습니다.&nbsp;</p>
                    <p>운영시간 이후 / 점심시간 대에는 고객센터 연결이 어려운 점 양해부탁드립니다.</p>
                    <p>(운영시간 평일 9:30~17:30 , 점심시간 12:30-13:30 )</p>
                    <p>
                        &nbsp;</p>
                </li>
            </ul>
            <ul class="bdlist"
                style="border-top-color: rgb(235, 235, 235); border-top-width: 2px; border-top-style: solid;">
                <li class="subject" id="faql8"><a href="javascript:mobile.GoFaqView('8');" class="tit3"><span
                            class="gubun">배송/설치</span>자가설치 상품 주문시 설치가 어려운가요 ? </a></li>
                <li class="contents" id="faq8" style="display: none;">
                    <p>
                        &nbsp;</p>
                    <p>
                        제품 배송시 기본구성품으로 사용설명서가 동봉되어 배송되며, 사용설명서 보시며 천천히 따라해주시면 됩니다.</p>
                    <p>
                        박스 개봉 후 제품을 모두 꺼내어 구성품에 포함 되어있는 스탠드다리와 나사를 TV 하단에 R(오른쪽) / L(왼쪽) 확인하셔서 십자드라이버로
                        고정시켜주세요.&nbsp;<br>
                        <br>
                        고정시킨 후 제품 뒷면 전원코드를 벽면 콘센트 혹은 멀티탭에 연결해주시고, 사용하고 계시던 케이블도 TV 단자 뒷면에 맞게 연결해주세요.<br>
                        <br>
                        전원코드와 케이블 연결을 모두 하신 경우 ENTV 리모컨으로 전원을 키면 첫 화면에 ENTV 로고가 확인됩니다.&nbsp;
                    </p>
                    <p>
                        이후 설정방법은 각 제품마다 설정법 문구가 상이하기때문에, 동봉해드린 사용설명서 메뉴설정 혹은 TV 기능 참고해주시길 바랍니다.</p>
                    <p>
                        &nbsp;</p>
                    <p>
                        &nbsp;</p>
                    <p>
                        <span style="color:#ff0000;">*동축케이블 이용시 자동채널검색을 꼭 진행해주시길 바라며, 셋탑박스 이용시 자동채널검색은 진행하지 않으셔도
                            됩니다.&nbsp;<br>
                            건물 내에 동축케이블 단자가 없는 경우, 유선신호가 잡히지 않으므로 셋탑박스 없이는 방송 송수신이 불가능합니다.&nbsp;</span>
                    </p>
                    <p>
                        <span style="color: rgb(255, 0, 0);">유선신호가 잡히는 곳인지 꼭 미리 확인해주시길 바랍니다.</span>
                    </p>
                    <p>&nbsp;&nbsp;</p>
                </li>
            </ul>
            <ul class="bdlist"
                style="border-top-color: rgb(235, 235, 235); border-top-width: 2px; border-top-style: solid;">
                <li class="subject" id="faql9"><a href="javascript:mobile.GoFaqView('9');" class="tit3"><span
                            class="gubun">기능</span>백라이트(Backlight)란 어떤건가요?</a></li>
                <li class="contents" id="faq9" style="display: none;">
                    <p>
                        &nbsp;</p>
                    <p>
                        LCD는 스스로 빛을 내지 못하는 수광형 디스플레이로 외부의 빛을 이용하게 되는데 액정이 이 빛의 양을 조절하여 화상을 만듭니다.</p>
                    <p>
                        백라이트는 이러한 외부의 빛을 얻기 위해서 TFT 하판 밑에 장착해 빛을 균일하게 조사하는 광원장치를 말합니다.</p>
                    <p>
                        백라이트의 품질이 좋을수록 영상의 품질과 색 재현성을 비약적으로 향상 시킬 가능성을 지니고 있으므로</p>
                    <p>
                        LCD 디스플레이의 발전 열쇠를 쥐고 있는 존재라고 할수 있습니다.</p>
                    <p>
                        대표적인 백라이트의 종류로는 흔히 우리가 쓰는 LCD TV의 냉음극형광램프 CCFL 방식과 발광다이오드 LED 방식이 있습니다.</p>
                    <p>&nbsp;</p>
                </li>
            </ul>

            <!-- pagination -->
            <table align="center" width="100%">
                <tr>
                    <td colspan='10' height='100' class='page_num' align='center' style='border-bottom:0;'><a
                            href="javascript:alert('첫 페이지입니다.');" class="prev">&lt;</a>&nbsp;<a
                            class="page-select">1</a>&nbsp;<span><a href="javascript:mobile.GoFaqPaging('2')"
                                class="page-select1">2</a></span>&nbsp;<span><a
                                href="javascript:mobile.GoFaqPaging('3')"
                                class="page-select1">3</a></span>&nbsp;<span><a
                                href="javascript:mobile.GoFaqPaging('4')"
                                class="page-select1">4</a></span>&nbsp;<span><a
                                href="javascript:mobile.GoFaqPaging('5')" class="page-select1">5</a></span>&nbsp;<a
                            href="javascript:mobile.GoFaqPaging('0002')" class="next">&gt;</a>&nbsp;
                    </td>
                </tr>
            </table>
        </div>

        <div id="footer" style="height:auto;">
            <ul class="foot_menu">
                <li><a href="provision.php">이용약관</a></li>
                <li><a href="privacy.php">개인정보처리방침</a></li>
                <li><a href="http://www.entv.co.kr?v=pc" target="_blank">PC버전</a></li>
            </ul>
            <div class="copy">
                <span class="logo"><img src="http://img.entv.co.kr/mobile/footer_logo.png" alt="entv" /></span>
                <span class="tel">
                    <a href="/faq.php" alt="faq">
                        <img src="http://img.entv.co.kr/mobile/footer_tel.png?ver=1620636165" alt="고객센터 1666-7873">
                    </a>
                </span>
                <p class="add">
                    (주)이엔전자<br />
                    대표이사 : 최재영<br />
                    서울특별시 강남구 테헤란로82길 15,(대치동 DI타워 4층)<br />
                    사업자등록번호 : 220-88-95318<br />
                    통신판매업 신고번호 : 제2019-서울강남-02623호<br />
                    팩스번호 : 02-6255-3096<br />
                </p>
                <p class="add">
                    (주)이비즈네트웍스<br />
                    대표이사 : 박기범<br />
                    서울특별시 강남구 테헤란로82길 15,(대치동 DI타워 15층)<br />
                    사업자등록번호 : 220-87-30865<br />
                    통신판매업 신고번호 : 강남-11501호<br />
                    팩스번호 : 02-6255-3096<br />
                    <span style="line-height:3">CopyrightⓒENTV. All Rights Reserved.</span>
                </p>
            </div>
            <!--// copy -->
        </div>
        <!--// footer -->
    </div>
    <!--// wrap -->

    </script>

    <div id="bookmark_wrap"
        style="width:100%; height:100px; background-color:#6e6e6e; position:fixed; bottom:-100px; z-index:10000;">
        <div id="bookmark_layer" style="width:720px; height:100%; margin:0 auto;">
            <div style="width:100px; height:100%; float:left; margin:0;">
                <img id="bookmark_icon" src="" style="margin:0; width:80px; height:80px; margin:10px;" />
            </div>
            <div style="width:60px; height:100%; float:left; margin:0; text-align:right; margin-top:10px;">
                <span id="bookmark_time" style="font-size:70px; color:#ffffff;"></span>
            </div>
            <div style="width:460px; height:100%; float:left; margin:0;">
                <p id="bookmark_text" style="font-size:24px; margin:20px; color:#ffffff;">초 후, <span
                        id="bookmark_site"></span> 아이콘이 설치됩니다.<br /> 원치 않으면 X를 클릭하세요.</p>
            </div>
            <div style="width:100px; height:100%; float:left; margin:0;">
                <img src="http://img.entv.co.kr/mobile/icon_close.png"
                    style="margin:0; width:80px; height:80px; margin:10px;" onclick="javascript:Bookmark.clear();" />
            </div>
        </div>
    </div>

    <script type="text/javascript" src="http://wcs.naver.net/wcslog.js"> </script>
    <script type="text/javascript">
        if (!wcs_add) var wcs_add = {};
        wcs_add["wa"] = "s_3c4945e00ce";
        if (!_nasa) var _nasa = {};
        wcs.inflow();
        wcs_do(_nasa);
    </script>
</body>

</html>