<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <meta name="viewport" content="width=720, user-scalable=no , target-densitydpi=device-dpi" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="UTF-8">
    <title>:: 이보다 더 선명할 수 없다! FULL HD TV ENTV</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://static.entv.co.kr/css/reset_m.css" />
    <link rel="stylesheet" href="http://static.entv.co.kr/css/layout_m.css" />

    <!-- <link rel="stylesheet" href="http://design.ebiznetworks.co.kr/sun/entv/static/css/m/layout_m.css"> -->

    <!-- <link rel="stylesheet" href="../../../static/css/m/layout_m.css" />
    <link rel="stylesheet" href="../../../static/css/m/reset_m.css" /> -->

    <!-- ICON -->
    <link rel="shortcut icon" href="http://img.entv.co.kr/entv_icon128x128.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="http://img.entv.co.kr/entv_icon57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="http://img.entv.co.kr/entv_icon72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="http://img.entv.co.kr/entv_icon114x114.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="http://img.entv.co.kr/entv_icon144x144.png" />

    <script src="http://m.entv.co.kr/js/jquery.js" type="text/javascript"></script>
    <script src="http://m.entv.co.kr/js/jquery-ui.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://www.entv.co.kr/js/jquery-1.10.2.min.js"></script>
    <script src="http://m.entv.co.kr/js/slides.min.jquery.js" type="text/javascript"></script>
    <script src="http://m.entv.co.kr/js/common.js?ver=1620624509" type="text/javascript"></script>
    <script> document.domain = "entv.co.kr";</script>
    <script src="http://static.entv.co.kr/js/bookmark.js?ver=1620624509"></script>

<body>
    <div id="wrap">

        <div id="top">
            <a href="#"><img src="http://img.entv.co.kr/mobile/btn_top.png" alt="top" /></a>
        </div>

        <header id="header">
            <p class="logo">
                <a href="http://m.entv.co.kr"><img src="http://img.entv.co.kr/mobile/logo.png" alt="로고"></a>

            </p>
            <p class="top_menu">
                <a href="https://smartstore.naver.com/entv" target="_blank"><img
                        src="http://img.entv.co.kr/gnb_shop_m.png" alt="shop"></a>
            </p>
        </header>

        <!-- GNB -->
        <div id="gnb_wrap">
            <nav class="gnb">
                <ul>
                    <li style="border-left:none"><a href="/brand.php"><span>브랜드소개</span></a></li>
                    <li><a href="news.php"><span>언론기사</span></a></li>
                    <li><a href="cs_center_list.php"><span>고객센터</span></a></li>
                    <li><a href="order_srh.php"><span>주문/배송 조회</span></a></li>
                </ul>
            </nav>
        </div>
        <!-- //GNB -->

        <!-- A/S접수전, 간단해결 -->
        <div id="sub_tit">A/S 접수 건, 간단하게 해결해보세요!</div>
        <div id="board">
            <input type="hidden" name="newsnum" value="1">
            <input type="hidden" name="newsid">
            <ul class="bdlist">
                <li class="subject" onclick="javascript:mobile.GoNews('0');">
                    <a class="tit">화면에 신호 없음/NO SIGNAL 문구가 떠요</a>
                </li>
                <li class="contents" style="display: none;" id="newsview0">
                    <p>외부입력이 변경된 경우로 보입니다.<br><br></p>
                    <strong>1. 셋탑박스를 이용하시는 경우</strong>
                    <p>
                        먼저, 셋탑박스 전원이 켜졌는지 확인해주세요.<br>
                        케이블이 제대로 연결되어있는지 확인해주세요.
                    </p>
                    <br>
                    <strong>HDMI 케이블 연결 시,</strong>
                    <p>
                        ENTV리모컨을 이용해 외부입력을 연결된 입력모드로(HDMI 1,2,3 등) 변경해주세요.<br>
                        (TV와 셋탑박스가 연결 된 곳으로 입력신호를 맞춰주시면 됩니다.)
                    </p>
                    <br>
                    <strong>컴포지트 케이블(빨강,노랑,하얀색) 연결 시,</strong>
                    <p>
                        ENTV리모컨으로 외부입력을 '비디오 또는 AV‘로 변경해주세요.
                    </p>
                    <strong>컴포넌트 케이블(빨강,파랑,초록)로 연결 시,</strong>
                    <p>
                        ENTV리모컨으로 외부입력을 '컴포넌트' 로 맞춰주세요.
                    </p>
                    <br>
                    <strong>2. 동축케이블을 사용하시는 경우</strong>
                    <p>
                        먼저,<br>
                        1. 동축케이블이 제대로 연결되어있는 지 확인해주세요.<br>
                        2. ENTV리모컨을 이용해 외부입력(입력)을 'TV'로 변경해주세요<br>
                        케이블이 제대로 연결되어 있지만, 신호없음이 나오는 경우<br>
                        방송신호 점검을 해보시거나, 자동채널 설정을 다시 진행해주세요.<br>
                        이 외에 TV를 켰을 때 파란 화면이 나오신다면<br>
                        ENTV 리모컨 : 메뉴 누른 뒤, 옵션 설정 > 청색화면 설정에서 끄기를 해주시면 됩니다.
                    </p>
                </li>
            </ul>
            <ul class="bdlist">
                <li class="subject" onclick="javascript:mobile.GoNews('1');">
                    <a class="tit">
                        화면/소리가 안 나와요 + 화면/소리가 이상해요
                    </a>
                </li>
                <li class="contents" style="display: none;" id="newsview1">
                    <strong>화면이 안 나오는 경우</strong>
                    <p>
                        TV의 전원 코드(셋탑박스 이용시 셋탑박스 전원코드 포함)를 3-5분정도 빼셨다가 TV 전원선만 재연결해주세요.<br>
                        TV전원코드만 재연결하여 제품을 켰을 때 첫 화면에 ENTV로고가 제대로 나오는지 확인해주세요.<br>
                        로고가 제대로 나온다면, 유선사/셋탑박스 방송신호 문제로 보이기 때문에 해당 유선사 방송신호 점검이 필요합니다.
                        <br><br>
                    </p>
                    <strong>소리가 안 나오는 경우</strong>
                    <p>
                        TV의 전원 코드 (셋탑박스 이용시 셋탑박스 전원코드 포함)를 3-5분 정도 빼셨다가 재연결해주세요.<br>
                        (셋탑박스 이용 시 셋탑박스 전원코드도 함께 재연결해주세요)<br>
                        재연결 후에도 같은 증상이신 경우 유선사/셋탑박스 점검이 필요합니다.
                        <br><br>
                    </p>
                </li>
            </ul>
            <ul class="bdlist">
                <li class="subject" id="news2" onclick="javascript:mobile.GoNews('2');">
                    <a class="tit">TV 전원이 안 들어와요</a>
                </li>
                <li class="contents" style="display: none;" id="newsview2">
                    <p>1. 전원 콘센트 연결 상태를 확인해주세요<br>
                        (멀티탭 사용 시 ① 전원 스위치에 빨간 불이 들어오는지/ ② 멀티탭에 연결된 다른 제품의 전원 상태 확인)<br>
                        2. 기존에 사용하고 있는 콘센트가 아닌 다른 콘센트에 연결하신 후 TV 하단에 대기불이 들어오는 지 확인해주세요.<br>
                        (벽면 콘센트를 사용하시는 경우, 다른 벽의 콘센트에 연결해 확인해주세요. 문어발식 멀티탭 사용의 경우 과부하로 갑자기 전원이 들어오지 않을 수 있는 점 참고
                        부탁드립니다.)<br>
                        3. TV 후면 전원코드를 1-3분간 뺀 후 다시 연결하여 TV 하단에 대기불이 들어오는 지 확인해주세요. <br><br>
                        위 방법을 해보신 뒤에도 해결되지 않을 시, AS신청 부탁드립니다.
                        <br><br>
                    </p>
                </li>
            </ul>
            <ul class="bdlist">
                <li class="subject" id="news4" onclick="javascript:mobile.GoNews('4');">
                    <a class="tit">
                        리모컨이 작동되지 않아요
                    </a>
                </li>
                <li class="contents" style="display: none;" id="newsview4">
                    <p>
                        1. TV의 전원 센서(대기불이 들어오는 곳)가 다른 물체로 막혀 있다면 리모컨 인식이 어렵습니다.<br>
                        TV 앞 약 1m거리에서 테스트해보시거나 수신부를(센서부분) 정확히 맞춰 테스트 부탁드립니다.<br>
                        2. 건전지의 수명이 다 된 것은 아닌 지 확인해주세요<br>
                        3. 리모컨 센서에 불빛이 들어오는 지 확인 해주시길 바랍니다. <br>
                        (잘 보이지 않는 경우, 핸드폰 카메라를 실행하여 리모컨 윗부분의 센서를 카메라에 비추고 리모컨의 버튼을 눌렀을 때, 리모컨의 센서 불빛이 들어오는 지 확인해주시면
                        됩니다.)<br><br>
                        - 안내드린 사항을 확인해보셨음에도 작동이 안되는 경우에는 제품의 고장으로 보이며, 리모컨은 부속품으로 수리가 불가능하여 새로 제품을 구매해주셔야 합니다.<br>
                        (TV 구매 후 1달이 되지 않은 경우에는 리모컨을 교체해드립니다.)
                    </p>
                    <br>
                    <strong>리모컨을 구매하시고자 하는 경우,</strong>
                    <br>
                    <p>
                        사용하고 계시는 TV의 모델명(TV 뒷편 바코드/설명서 참고)확인 후 <br>
                        ENTV 고객센터 1666-7873 으로 연락주시면 안내드리겠습니다.<br>
                        (고객센터 운영시간 평일 9:30~17:30 , 점심시간 12:30-13:30)<br><br>
                        * 부자재 구매 원하시는 경우 계좌이체로만 진행 가능한 점 참고해주시길 바랍니다.<br><br>
                    </p>
                </li>
            </ul>
            <ul class="bdlist">
                <li class="subject" id="news5" onclick="javascript:mobile.GoNews('5');">
                    <a class="tit">화면이 지지직 거리고 끊겨요.</a>
                </li>
                <li class="contents" style="display: none;" id="newsview5">
                    <p>
                        위와 같은 증상이 나타나시는 경우 아래 안내드린 테스트 진행 부탁드립니다.<br>
                        1. TV의 전원 코드(셋탑박스 이용시 셋탑박스 전원코드 포함)를 3-5분정도 빼셨다가 TV 전원선만 재연결해주세요<br>
                        2. 재연결하여 제품을 켰을 때 첫 화면에 ENTV로고가 제대로 나오는지 확인해주세요<br>
                        3. 로고가 제대로 나온다면, 유선사/셋탑박스 방송신호 문제로 보이기 때문에 사용하시는 유선사 방송신호 점검이 필요합니다.<br><br>
                        - TV의 문제인지 간단히 확인할 수 있는 방법 : <br> 
                        USB를 보유하고 계신 경우 TV에 USB 연결 후 동영상을 재생시켜 정상적으로 작동되는 지 확인해주시면 됩니다.<br>
                        테스트를 진행해보신 후에도 같은 증상이신 경우 A/S 신청 부탁드립니다.
                        <br><br>
                    </p>
                </li>
            </ul>
        </div>
        <!-- //A/S접수전, 간단해결 -->

        <!-- A/S 신청 -->
        <div id="sub_tit">A/S신청</div>
        <div id="write">
            <form name="asform" method="post" enctype="multipart/form-data">
                <input type="hidden" name="mode" value="asgo">
                <table class="info">
                    <colgroup>
                        <col width="220">
                        <col width="460">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>이름</th>
                            <td class="h80"><input name="aname" style="width: 430px;" type="text" maxlength="40"
                                    value=""></td>
                        </tr>
                        <tr>
                            <th class="h80">이메일</th>
                            <td class="h80">
                                <input name="aemail" style="width: 430px;" type="email" onkeyup="">
                            </td>
                        </tr>
                        <tr>
                            <th class="h80">연락처</th>
                            <td class="h80">
                                <select name="hphone1" title="" class="categories"
                                    style="float:left;width:130px;font-weight:600">
                                    <option value="010">010</option>
                                    <option value="011">011</option>
                                    <option value="016">016</option>
                                    <option value="017">017</option>
                                    <option value="018">018</option>
                                    <option value="019">019</option>
                                </select>
                                - <input name="hphone2" id="hphone2" type="text" style="width:130px"
                                    onkeyup="javascript:mobile.checktype('number','hphone2'); if(this.value.length == 4) document.all.hphone3.focus();"
                                    maxlength="4">
                                - <input name="hphone3" id="hphone3" type="text" style="width:130px"
                                    onkeyup="javascript:mobile.checktype('number','hphone3'); if(this.value.length == 4) document.all.atitle.focus();"
                                    maxlength="4">
                            </td>
                        </tr>
                        <tr>
                            <th>제품명(모델명)</th>
                            <td class="h80"><input name="goods" style="width: 430px;" type="text" maxlength="40"
                                    value=""></td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td class="h80"><input name="addr" style="width: 430px;" type="text" maxlength="40"
                                    value=""></td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td class="h80"><input name="atitle" style="width: 430px;" type="text" maxlength="40"
                                    value=""></td>
                        </tr>
                        <tr>
                            <th>증상 및 내용</th>
                            <td class="h330"><textarea style="width:430px; height:300px; padding-left:10px"
                                    name="acontents"></textarea></td>
                        </tr>
                        <tr>
                            <th>첨부파일</th>
                            <td class="h80"><input name="upload" style="width: 430px; padding-top:10px" type="file">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div id="btn">
                    <span class="btn_01"><a href="javascript:history.back();">취소하기</a></span>
                    <span class="btn_02"><a href="javascript:mobile.GoAsGo();">등록하기</a></span>
                </div>
            </form>
        </div>
        <!--// A/S 신청 -->

        <div id="footer" style="height:auto;">
            <ul class="foot_menu">
                <li><a href="provision.php">이용약관</a></li>
                <li><a href="privacy.php">개인정보처리방침</a></li>
                <li><a href="http://www.entv.co.kr?v=pc" target="_blank">PC버전</a></li>
            </ul>
            <div class="copy">
                <span class="logo"><img src="http://img.entv.co.kr/mobile/footer_logo.png" alt="entv" /></span>
                <span class="tel">
                    <a href="/faq.php" alt="faq">
                        <img src="http://img.entv.co.kr/mobile/footer_tel.png?ver=1620624509" alt="고객센터 1666-7873">
                    </a>
                </span>
                <!-- <p class="add" style="height:auto; width:auto;">
			   				    (주)바로네트웍스<br/>
			   					서울특별시 강남구 테헤란로82길 15, 3층(대치동, 디아이타워)<br/>
			   					대표이사 : 전병권 I 사업자등록번호 : 215-87-85373	<br/>
			   					통신판매업 : 제2017-서울강남-00561호<br/>
			   </p> -->
                <p class="add">
                    (주)이엔전자<br />
                    대표이사 : 최재영<br />
                    서울특별시 강남구 테헤란로82길 15,(대치동 DI타워 4층)<br />
                    사업자등록번호 : 220-88-95318<br />
                    통신판매업 신고번호 : 제2019-서울강남-02623호<br />
                    팩스번호 : 02-6255-3096<br />
                </p>
                <p class="add">
                    (주)이비즈네트웍스<br />
                    대표이사 : 박기범<br />
                    서울특별시 강남구 테헤란로82길 15,(대치동 DI타워 15층)<br />
                    사업자등록번호 : 220-87-30865<br />
                    통신판매업 신고번호 : 강남-11501호<br />
                    팩스번호 : 02-6255-3096<br />
                    <span style="line-height:3">CopyrightⓒENTV. All Rights Reserved.</span>
                </p>
            </div>
            <!--// copy -->
        </div>
        <!--// footer -->
    </div>
    <!--// wrap -->

    </script>

    <div id="bookmark_wrap"
        style="width:100%; height:100px; background-color:#6e6e6e; position:fixed; bottom:-100px; z-index:10000;">
        <div id="bookmark_layer" style="width:720px; height:100%; margin:0 auto;">
            <div style="width:100px; height:100%; float:left; margin:0;">
                <img id="bookmark_icon" src="" style="margin:0; width:80px; height:80px; margin:10px;" />
            </div>
            <div style="width:60px; height:100%; float:left; margin:0; text-align:right; margin-top:10px;">
                <span id="bookmark_time" style="font-size:70px; color:#ffffff;"></span>
            </div>
            <div style="width:460px; height:100%; float:left; margin:0;">
                <p id="bookmark_text" style="font-size:24px; margin:20px; color:#ffffff;">초 후, <span
                        id="bookmark_site"></span> 아이콘이 설치됩니다.<br /> 원치 않으면 X를 클릭하세요.</p>
            </div>
            <div style="width:100px; height:100%; float:left; margin:0;">
                <img src="http://img.entv.co.kr/mobile/icon_close.png"
                    style="margin:0; width:80px; height:80px; margin:10px;" onclick="javascript:Bookmark.clear();" />
            </div>
        </div>
    </div>

    <!-- 공통 적용 스크립트 , 모든 페이지에 노출되도록 설치. 단 전환페이지 설정값보다 항상 하단에 위치해야함 -->
    <script type="text/javascript" src="http://wcs.naver.net/wcslog.js"> </script>
    <script type="text/javascript">
        if (!wcs_add) var wcs_add = {};
        wcs_add["wa"] = "s_3c4945e00ce";
        if (!_nasa) var _nasa = {};
        wcs.inflow();
        wcs_do(_nasa);
    </script>
</body>

</html>